.statusImg .userAvatar { margin: 0px; padding: 4px; width: 35px; height: 35px;}
.table { padding: 0px; width: 40px; border: none;}

#attendance-table {border: none; background-color:#F0F0F0; margin:  0px; }
.attendance-table-header {background-color:#F0F0F0; }
#avatar {border: none; padding-bottom:1px;}
#status {width: 35px; border:none; padding-bottom:1px;}
#name {border: none; padding-bottom:1px;}
#description {padding-bottom:1px;}

.fullname {width: 250px; border: none; }

.attendance-list { float: left; padding: 10px 20px; }
.attendance-list .line-row { float: left; width: 98%; padding: 5px 0 5px 10px; margin-bottom: 5px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; background-color: #fbfbfb; }
.attendance-list .line-row .line-view { float: left; width: 100%; }
.attendance-list .line-row .line-view img { float: left; margin-right: 10px; }
.attendance-list .line-row .line-view input { float: left; margin: 5px 5px 0 0; }
.attendance-list .line-row .line-view label { float: left; margin-top: 4px; }

.comment { float: left; width: 492px; padding: 5px 0 5px 10px; margin: -5px 0 10px 20px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; background-color: #fbfbfb; }
.comment label { float: left; margin: 1px 10px 0 0; }
.comment input { float: left; width: 280px; line-height: 18px; margin-right: 10px; }
.comment input.button-ok { width: auto; padding: 2px 4px; margin: -1px 0 0 0; }