<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen"/>
    <script src="http://code.jquery.com/jquery-1.8.2.js "></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js "></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#accordion").accordion();
        });
    </script>

    <style type="text/css">
            /* EmployeeList */
        #pnlEmployeeList table {
            font-size: 13px;
            text-align: left;
            border-collapse: collapse;
        }

        #pnlEmployeeList table thead tr {
            background-color: #B0C4DE;
            border: 1px solid #000;
        }

        #pnlEmployeeList table thead tr th {
            font-size: 14px;
            font-weight: bold;
            padding: 6px 4px;
            color: #fff;
            cursor: default;
        }

        #pnlEmployeeList table tr td {
            padding: 5px;
            cursor: default;
            vertical-align: middle;
        }

        #pnlEmployeeList table tr.click {
            background-color: #B0C4DE;
        }

    </style>

</head>

<body>


<div id="pnlEmployeeList" style="width:100%;">
    <table style="width:100%;">
        <thead>
        <tr>
            <th class="status">&nbsp;</th>
            <th class="name">Nafn</th>
            <th>Deild</th>
            <th class="phone">Sími</th>
            <th class="mphone">GSM</th>
            <th class="dateFiled">Skráð</th>
            <th>Skýring</th>
        </tr>
        </thead>
        <tbody class="container">
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4" class="counter"></th>
        </tr>
        </tfoot>
    </table>
</div>

<div id="accordion">
    <div>
        <div class="row">
            <div class="span3">Daði Halldórsson</div>
            <div class="span3">Alma</div>
            <div class="span3">5346766</div>
            <div class="span3">8480562</div>
            <div class="span3">23.11.2012</div>
            <div class="span3">Flottastur</div>
        </div>
    </div>
    <div class="row">
        <div class="span18">
            <img src="http://profile-b.xx.fbcdn.net/hprofile-prn1/48899_1487168506_6717_n.jpg" alt="dadinn" height="80" width="80">
            Flottastur

        </div>
    </div>

    <h3>Section 2</h3>

    <div>
        <p>
            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
            suscipit faucibus urna.
        </p>
    </div>
    <h3>Section 3</h3>

    <div>
        <p>
            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
        </p>
        <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
        </ul>
    </div>
    <h3>Section 4</h3>

    <div>
        <p>
            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
            mauris vel est.
        </p>

        <p>
            Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
        </p>
    </div>
</div>

<select id="userName" name="userName" style="width: 210px">
    #foreach ($user in ${action.getAvailableUsers()})
        <option value="${user.getName()}"
            #if($el.getUser().getName() == $user.getName()) selected #end
                >${user.getDisplayName()}</option>
    #end
</select>


</body>